{% extends "base_generic.html" %}
{% block title %} Home|LocalLibrary{% endblock %}
{% block content %}
<h1>Local Library Home </h1>
<p>Welcome to LocalLibrary, a website developed by <em>Sam</em> and <em>Mozilla Developer Network</em></p>
<h2>Dynamic Content </h2>
<p>The library has the following record counts: </p>
<ul>
    <li><strong>Books:</strong> {{num_books}}</li>
    <li><strong>Copies:</strong> {{num_instances}}</li>
    <li><strong>Copies Availalbe:</strong> {{ num_instances_available}}</li>
    <li><strong>Authors:</strong>  {{ num_authors}}</li>
    <li><strong>Genres:</strong>  {{ num_genres}}</li>
    <li><strong>Books with key word 'Moses' in title </strong>  {{ book_contains_moses}}</li>
</ul>
<p> You have visited this page {{num_visits}} time{% if num_visits > 1 %}s{% endif %}.</p>
{% endblock %}